---
import NavbarButton from "./NavbarButton.astro"
---
<nav class="min-h-20 top-0 left-0 bg-slate-900 w-full text-white flex flex-col justify-center items-center pb-4">
    <h1 class="my-4">MineSweeper</h1>
    <div class="flex flex-row gap-4">
        <NavbarButton href="/basic">Basic</NavbarButton>
        <NavbarButton href="/advance">Advance</NavbarButton>
        <NavbarButton href="/expert">Expert</NavbarButton>
    </div>
</nav>